
<ion-header>
  <ion-toolbar>
    <ion-title>Collection <ion-button style = "float: right;" routerLink ="/">Back</ion-button></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card><ion-card-title>Inner Coffin of Hornedjitef</ion-card-title>
  <ion-item><img src="../../assets/coffin.jpg" alt=""></ion-item>
</ion-card>
<ion-card><ion-card-title>Brass head of Ooni</ion-card-title>
  <ion-item><img src="../../assets/brasshead.jpg" alt=""></ion-item>
</ion-card>
<ion-card><ion-card-title>Lewis Chessmen</ion-card-title>
  <ion-item><img src="../../assets/chessman.jpg" alt=""></ion-item>
</ion-card>
<ion-card><ion-card-title>Ancient Greek Amphora</ion-card-title>
  <ion-item><img src="../../assets/amphora.jpg" alt=""></ion-item>
</ion-card>
<ion-card><ion-card-title>Lycurgus Cup</ion-card-title>
  <ion-item><img src="../../assets/cup.jpg" alt=""></ion-item>
</ion-card>
<ion-card><ion-card-title>Bones of Mankind</ion-card-title>
  <ion-item><img src="../../assets/bones.jpg" alt=""></ion-item>
</ion-card>
</ion-content>
