<ion-header>
  <ion-toolbar>
    <ion-title>Collection <ion-button style = "float: right;" routerLink ="/">Back</ion-button></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card><ion-item>Inner Coffin of Hornedjitef</ion-item>
  <ion-item><img src="../../assets/coffin.jpg" alt=""></ion-item>
</ion-card>
<ion-card><ion-item>Brass head of Ooni</ion-item>
  <ion-item><img src="../../assets/brasshead.jpg" alt=""></ion-item>
</ion-card>
<ion-card><ion-item>Lewis Chessmen</ion-item>
  <ion-item><img src="../../assets/chessman.jpg" alt=""></ion-item>
</ion-card>
<ion-card><ion-item>Ancient Greek Amphora</ion-item>
  <ion-item><img src="../../assets/amphora.jpg" alt=""></ion-item>
</ion-card>
<ion-card><ion-item>Lycurgus Cup</ion-item>
  <ion-item><img src="../../assets/cup.jpg" alt=""></ion-item>
</ion-card>
<ion-card><ion-item>Bones of Mankind</ion-item>
  <ion-item><img src="../../assets/bones.jpg" alt=""></ion-item>
</ion-card>
</ion-content>
