<ion-header>
  <ion-toolbar>
    <ion-title>Magazines <ion-button style = "float: right;" routerLink ="/">Back</ion-button></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card><ion-card-title>Art & Museum</ion-card-title>
  <ion-item><img src="../../assets/magazine1.jpg" alt=""></ion-item>
</ion-card>
<ion-card><ion-card-title>Special Edition Magazines</ion-card-title>
  <ion-item><img src="../../assets/magazine.jpg" alt=""></ion-item>
</ion-card>
<ion-card><ion-card-title>Museum Id</ion-card-title>
  <ion-item><img src="../../assets/museum3.jpg" alt=""></ion-item>
</ion-card>
<ion-card><ion-card-title>British Museum Magazine</ion-card-title>
  <ion-item><img src="../../assets/britishmuseum.jpg" alt=""></ion-item>
</ion-card>
<ion-card><ion-card-title>Natural History</ion-card-title>
  <ion-item><img src="../../assets/naturalhistory.jpg" alt=""></ion-item>
</ion-card>
<ion-card><ion-card-title>Bones of Mankind</ion-card-title>
  <ion-item><img src="../../assets/bones.jpg" alt=""></ion-item>
</ion-card>
</ion-content>
