<ion-header>
  <ion-toolbar>
    <ion-title>Magazines <ion-button style = "float: right;" routerLink ="/">Back</ion-button></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card><ion-item>Art & Museum</ion-item>
  <ion-item><img src="../../assets/magazine1.jpg" alt=""></ion-item>
</ion-card>
<ion-card><ion-item>Special Edition Magazines</ion-item>
  <ion-item><img src="../../assets/magazine.jpg" alt=""></ion-item>
</ion-card>
<ion-card><ion-item>Museum Id</ion-item>
  <ion-item><img src="../../assets/museum3.jpg" alt=""></ion-item>
</ion-card>
<ion-card><ion-item>British Museum Magazine</ion-item>
  <ion-item><img src="../../assets/britishmuseum.jpg" alt=""></ion-item>
</ion-card>
<ion-card><ion-item>Natural History</ion-item>
  <ion-item><img src="../../assets/naturalhistory.jpg" alt=""></ion-item>
</ion-card>
<ion-card><ion-item>Bones of Mankind</ion-item>
  <ion-item><img src="../../assets/bones.jpg" alt=""></ion-item>
</ion-card>
</ion-content>
